h1 {
  color: purple;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: left;
  color: black;
}

h3 {
  text-align: left;
  color: hotpink;
}

p {
  color: brown;
}

body {
  background-color: lightpink;
}